.movie-details {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin: 3rem;
  margin-bottom: 20px;
}

.cover-photo {
  width: 15rem;
  height: 22rem;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cover-photo:hover {
  transform: scale(1.05);
}

.movie-info {
  flex-grow: 1;
  line-height: 2rem;
  color: rgb(83, 83, 83);
}

.title-info h2 {
  font-size: 28px;
  margin-bottom: 10px;
  /* color: rgb(214, 71, 119); */
  color: #ffcc00f2;
}

.title-info p {
  margin: 5px 0;
}

.genres{
  margin: 1rem 0;
  line-height: 1rem;
}

.movie-pictures {
  margin-bottom: 30px;
  margin: 2.5rem;
}

.movie-pictures h3{
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: rgb(214, 71, 119); */
  color: #ffcc00f0;
  font-size: 1.5rem;
}

.top-cast{
  margin-bottom: 30px;
  margin: 2.5rem;
  text-align: center;
}

.top-cast h3{
  justify-content: center;
  align-items: center;
  /* color: rgb(214, 71, 119); */
  color: #ffcc00e7;
  font-size: 1.5rem;
}

.cast-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  margin: 2.5rem;
}

.cast-member{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
}

.cast-member {
  text-align: center;
  transition: transform 0.3s ease;
}

.cast-member:hover {
  transform: scale(1.05);
}

.cast-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.cast-member p {
  margin: 5px 0;
}
